#
# @howstrangeoficial
# aquivo de configuração da extensão editor config, para padronizar a formatação de arquivos
#
# EditorConfig is awesome: https://EditorConfig.org
#

# arquivo editor config mais alto
root = true

# valores padrão para todos os arquivos
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 140

# markdown e texto
[*.{md,MD,txt}, LICENSE]
trim_trailing_whitespace = false

# typescript e javascript
[*.{ts,js,tsx,jsx}]
block_comment_start = /**
block_comment = *
block_comment_end = */
max_line_length = 200

# configuração e docker
[*.{yml,yaml}]
insert_final_newline = false
max_line_length = 60

# json, prettier e eslint
[*.{json,prettierrc,eslintrc}]
insert_final_newline = false

# css, less, styl, sass e scss
[*.{css,styl,scss,less,sass}]
indent_size = 4

# shell script
[*.sh]
indent_style = tab
indent_size = 4

# husky script
[pre-*]
indent_style = tab
indent_size = 4

# makefile
[Makefile]
indent_style = tab
indent_size = 4

# scripts do windows
[*.bat]
end_of_line = crlf
