# ============================================================
# @howstrangeoficial
# Arqivo para ignorar pastas e arquivos dentro do projeto
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Arqivo para ignorar pastas e arquivos de todos os projetos dentro do monorepo
# ============================================================

# ============================================================
# pasta de dependencias do node
# ============================================================
node_modules/
jspm_packages/
packages-cache/
.node_repl_history

# ============================================================
# ARQUIVOS E PASTAS DE OUTRAS IDEs
# ============================================================
.idea/
*.iml

# ============================================================
# ARQUIVOS DO ESLINT
# ============================================================
.eslintcache

# ============================================================
# pasta e arquivos do gerenciador de pacotes yarn
# ============================================================
yarn-error.log
yarn-debug.log
.yarn-integrity
yarn.lock

# ============================================================
# pasta e arquivos do gerenciador de pacotes npm
# ============================================================
.npm/
npm/
npm-debug.log
npm-debug.log.*

# ============================================================
# pasta e arquivos do gerenciador de pacotes pnpm
# ============================================================
.pnpm-debug.log*
pnpm-debug.log*
pnpm-lock.yaml

# ============================================================
# ARQUIVOS DO LERNA.JS
# ============================================================
lerna-debug.log*

# ============================================================
# ARQUIVOS DE DIAGNOSTICOS DE REPORTS
# ============================================================
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ============================================================
# arquivos de variaveis de ambiente
# ============================================================
.env
.env.local
.env.test
.env.production

# ============================================================
# ARQUIVOS DE PID E SEMENTES
# ============================================================
pids
*.pid
*.seed
*.pid.lock

# ============================================================
# ARQUIVOS DE LOGS
# ============================================================
logs/
.logs/
*.log
*.logs

# ============================================================
# pasta e arquivos do framework next.js
# ============================================================
.next/
.vercel/
next-env.d.ts

# ============================================================
# pasta e arquivos do pnp
# ============================================================
.pnp/
pnp/
.pnp.js
pnp.js

# ============================================================
# pasta e arquivos de testes unitários
# ============================================================
coverage/
__tests__/
*.lcov
jest-coverage/
lib-cov

# ============================================================
# pasta e arquivos do react.js
# ============================================================
build/
libs/
out/

# ============================================================
# pasta e arquivos do typescript
# ============================================================
*.tsbuildinfo
typings/
dist/
dist-ssr/

# ============================================================
# ARQUIVOS DE CACHE
# ============================================================
cache/
.cache/
*.cache

# ============================================================
# ARQUIVOS DO FIREBASE
# ============================================================
firebase-debug.log
.firebase/

# ============================================================
# ARQUIVOS DO DS_STORE
# ============================================================
.DS_Store

# ============================================================
# ARQUIVOS TEMPORARIOS
# ============================================================
*.tmp
*.bak
temp/

# ============================================================
# END OF FILE
# ============================================================
