# ============================================================
# @alansilvacode
# Arqivo para ignorar pastas e arquivos dentro do projeto
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# ============================================================

# ============================================================
# Arquivos do Obisidan
# ============================================================
*.json
workspace

# ============================================================
# END OF FILE
# ============================================================
