# ============================================================
# @alansilvacode
# Arqivo para ignorar pastas e arquivos de todos os projetos dentro do monorepo
# ============================================================

# ============================================================
# arquivos do vscode
# ============================================================
settings.json
bookmarks.json
launch.json
extensions.json
tasks.json

# ============================================================
# END OF FILE
# ============================================================
